header {
  background-color: black;
  color: white;
}

header a {
  color: red;
  text-align: right;
  float: right;
  padding: .5rem;
}

header h1 {
  padding-top: 2rem;
  padding-left: 1rem;
}

header h3 {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

h1 { 
  padding: 0; 
  margin: 0; 
}

nav {
  background-color: gray;
  padding: 1rem;
  margin: 0;
  width:100%;
  margin:0 auto;
  list-style:none;
  text-align:center;
}

nav a {
  color: purple;
  padding: 0, 2rem, 0;
}

article{
  float: left;
}

main article{
  width: 60%;
  text-align: left;
  margin-left: 1em;
}

img {
  max-width: 90%;
  overflow: hidden;
}

aside {
  text-align: center;
  width: 30%;
  float: right;
  border: 3px solid black;
  margin: 1em;
}

aside a {
  color: red;
  text-align: right;
}

aside p {
  text-align: left;
  margin-left: 5px;
}

footer {
  float: left;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

#contact{
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  float: left;
}

#contact h2{
  font-size: 1rem;
}
#contact a {
  color: red;
}
